include README.md
include license.txt
recursive-include imogi_finance *.css *.csv *.html *.ico *.js *.json *.md *.png *.py *.svg *.txt
recursive-include imogi_finance *.xml *.yml *.yaml
recursive-include imogi_finance *.rst
